<%= notice %>
<h3> "User List" </h3>

<form method="get", id="search-form">
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
</form>

<% for user in @users %>

<% if current_user.id != user.id %>

      <%= link_to user.name, user %>
      <strong><%=h user.name %></strong>
      <%if current_user.friends.include? user %>
      <%= link_to "Remove Friend", friendship_path(current_user.friendships.find_by_friend_id(user)), :method => :delete %>
      <% else %>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <% end %><br>

<% end %>

<% end %>