<div class="container-fluid main-container">
<%= render "layouts/sidenav" %>
<div class="col-md-10 content">

<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
  <span class="help-block"><font color="red">
      <h2><%= pluralize(@contact.errors.count, "error") %>:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </font></span>  
  <% end %>
    
        <h2 class="page-header">Feel free to contact us</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input name="contact[name]" type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input name="contact[email]" type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="contact[message]" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

<% end %>

</div>
<%= render "layouts/footer" %>
</div>