<h1>New Post</h1>
<%= form_for @post, :html => {:multipart => true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, required: true %>
  </div>
  <div>
    <%= f.file_field :avatar %>
  </div>

  <script>
        $(document).ready(function() { $("#tag").select2({placeholder: "Tag users"}); });
  </script>
  <select id="tag" name="post[tags]" multiple>
        <% @users = User.all %>
        <% @users.each do |u| %>
          <% if current_user != u %>
          <option value="<%= u.name %>"><%= u.name %></option>
          <% end %>
        <% end %>
  </select>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
