<br><br><% @posts.each do |post| %>
<% if current_user.id == post.user.id || current_user.friendships.find_by_friend_id(post.user.id) %>
<div class="well">
    <div class="row">
<!-- posts -->
      <div class="media">
      <% if post.user.avatar? %>
      <a class="pull-left" href="<%= post.user.avatar_url %>">
        <img height="92" width="92" class="media-object" src="<%= post.user.avatar_url %>">
      </a>
      <% else %>
      <a class="pull-left" href="<%= post.user.gravatar_url %>">
        <img height="92" width="92" class="media-object" src="<%= post.user.gravatar_url %>">
      </a>
      <% end %>
      <div class="media-body">
          <p>
          <h4 style="float:left;" class="media-heading"><%= link_to post.user.name, post.user %></h4>
          
            <div style="padding-left: 790px;" class="<%= post.class %>-<%= post.id %>">
            <%= render 'shared/like_form', likeable: post %>
            <div class="likes"><%= pluralize(post.likers(User).count, 'like')%></div>
            </div>
          </p>
          <p>
            <% if current_user.id == post.user_id %>
            <%= best_in_place post, :content, :type => :textarea, :nil => "Click me to add content!" %><small><em>(click on the post to edit)</em></small>
            <% else %>
            <%= post.content %>
            <% end %>
          </p>
          <% if post.avatar.present? %>

              <% file = post.avatar.url %>
              <% extension = post.avatar.file.extension.downcase %>

              <% if %w{jpg png jpeg gif bmp tiff}.include?(extension) %>
                <%= link_to image_tag(post.avatar_url, :width => 500), post.avatar_url %>
              <% elsif %w{mp4 mov avi mpg mpeg flv}.include?(extension) %>
                <%= link_to "play video", post.avatar_url %>
              <% elsif %w{mp3 wav}.include?(extension) %>
                <%= link_to "play audio", post.avatar_url %>
              <% else %>
                <%= link_to "download attatchment", post.avatar_url %> <%= extension %>
              <% end %>
              <br><br>
          <% end %>
      <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> <small><em><%= time_ago_in_words(post.created_at) %> ago </em>(<%= post.created_at.to_time.to_formatted_s(:db) %>)</small> </span></li>
            <% if current_user.id == post.user_id %>
            <li>|</li>
            <span><i class="glyphicon glyphicon-trash"></i> 
              <!-- <%# link_to 'Edit', edit_post_path(post) %> -->
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
            <% end %>
            <li>
               <% if post.tags? %>
               <li>|</li>
               <span title="Tags" class="glyphicon glyphicon-tags"></span>
                 <% for user in @users %>
                 <% if post.tags == user.name %>
                 <%=link_to post.tags, user %>
                 <% end %>
                 <% end %>
                 <% end %>
            </li>
      </ul>
       </div>
       </div>
<!-- comments -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Comments
                    <div class="pull-right label label-warning">
                        <%= pluralize(post.comments.count, 'comment') %>
                    </div>
                </div>
                <% if post.comments.count > 0 %>
                <div class="panel-body1">
                    <ul class="chat">
                    <% post.comments.each do |comment| %>
                        <li class="right clearfix"><span class="chat-img pull-right">
                          <% if comment.user.avatar? %>
                            <img height="42" width="42" src="<%= comment.user.avatar %>" alt="User Avatar" class="img-circle" />
                          <% else %>
                            <img height="42" width="42" src="<%= comment.user.gravatar_url %>" alt="User Avatar" class="img-circle" />
                          <% end %>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= time_ago_in_words(comment.created_at) %> ago</small>
                                    <div class="pull-right primary-font text-muted">By: 
                                    <strong><%= link_to comment.user.name, comment.user %></strong>
                                    </div>
                                </div>
                                <p>
                                  <% if current_user.id == comment.user_id %>
                                  <%= best_in_place comment, :body, :type => :textarea, :nil => "Click me to add content!" %><small><em>(click on the comment to edit)</em></small>
                                  <% else %>
                                  <%= comment.body %>
                                  <% end %>
                                </p>
                            </div>
                            <div class="<%= comment.class %>-<%= comment.id %>">
                            <%= render 'shared/like_form', likeable: comment %>
                            <div style="float:left;" class="likes"><%= pluralize(comment.likers(User).count, 'like')%></div>
                            </div>
                            <% if current_user.id == comment.user_id %>
                            <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?'}, :class=>'pull-right' %>
                            <%# link_to 'Edit', edit_comment_path(comment) %>
                            <% end %>
                        </li>
                    <% end %>
                    </ul>
                </div>
                <% end %>
                <div class="panel-footer">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <%= link_to '<button style="width:920px;" class="btn btn-warning btn-sm" id="btn-chat">
                                New Comment</button>'.html_safe, post %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<% end %>
<% end %>