<%= div_for post do %>

  <article class="timeline-entry left-aligned">
    
    <div class="timeline-entry-inner">
      <time class="timeline-time" ><span><%= time_ago_in_words(post.created_at) %> ago</span></time>
      
      <div class="timeline-icon bg-secondary">
        <i class="entypo-suitcase"></i>
      </div>
      
      <div class="timeline-label">
        <h2>Added a <%= link_to_unless_current post.class, post %><%= simple_format post.content %>

        <% if post.avatar.present? %>

              <% file = post.avatar.url %>
              <% extension = post.avatar.file.extension.downcase %>

              <% if %w{jpg png jpeg gif bmp tiff}.include?(extension) %>
                <%= link_to "view image", post.avatar_url %>
              <% elsif %w{mp4 mov avi mpg mpeg flv}.include?(extension) %>
                <%= link_to "play video", post.avatar_url %>
              <% elsif %w{mp3 wav}.include?(extension) %>
                <%= link_to "play audio", post.avatar_url %>
              <% else %>
                <%= link_to "download attatchment", post.avatar_url %> <%= extension %>
              <% end %>
              
        <% end %></h2>

        <p>added by <%= link_to post.user.name, post.user %> <strong><%= link_to pluralize(post.comments.count, 'comment'), post %>
        <%= pluralize(post.likers(User).count, 'like')%></strong> 
        <% if post.likers(User).count > 0 %>
          <% users= post.likers(User) %>                 
          (<% for u in users %>| <%= link_to u.name, u %>
           <% end %>|)
        <% end %></p>
      </div>
    </div>
    
  </article>  

<% end %>