<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Attachment:</strong><br />
  <%= image_tag(@post.avatar_url, :width => 200) if @post.avatar.present? %>
</p>

<h3>Comments</h3>
<%= link_to "Comments (#{@post.comments.count})", @post %>
<% @comments.each do |comment| %>
    <p><%= comment.body %> <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= time_ago_in_words(comment.created_at) %> ago </p>
<% end %>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
