<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
			MENU
			</button>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<%= link_to '<div class="navbar-brand">Home</div>'.html_safe, root_url %>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
            
            <ul class="nav navbar-nav navbar-left">
            <li class="dropdown ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						User
						<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><%= link_to "Activities", '/activities/user' %></li>
							<li class="divider"></li>
							<li><%= link_to "Profile", current_user %></li>
						</ul>
			</li>
			</ul>

			<form class="navbar-form navbar-left" method="GET" role="search">
				<div class="form-group">
					<input type="text" name="q" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
			</form>

			<ul class="nav navbar-nav navbar-left">
			  <li><%= link_to "News feed", '/activities/index' %></li>
			</ul>

			<ul class="nav navbar-nav navbar-left">
			  <li><%= link_to "Users", '/users/index' %></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">

			    <li class="dropdown ">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Message
						<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><%= link_to "New Message", '/messages/index' %></li>
							<li class="divider"></li>
							<li><%= link_to "My Messages", '/messages/show' %></li>
							<li><%= link_to "Sent Messages", '/messages/sent' %></li>
						</ul>
					</li>

				<li><a href="" onclick="location.href='/gchats/new'">Group Chat</a></li>
				<li class="dropdown ">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Account
						<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">

							<li class="dropdown-header">SETTINGS</li>
							<li><%= link_to 'Edit account', edit_user_registration_path %></li>
							<li class="divider"></li>
							<li><%= link_to "Sign-out", destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>  	<div class="container-fluid main-container">
  		<div class="col-md-2 sidebar">
  			<div class="row">
	<!-- uncomment code for absolute positioning tweek see top comment in css -->
	<div class="absolute-wrapper"> </div>
	<!-- Menu -->
	<div class="side-menu">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Main Menu -->
			<div class="side-menu-container">
				<ul class="nav navbar-nav">
					<li class="active">
					  <% if current_user.avatar? %>
		                <%= image_tag(current_user.avatar_url, :width => 100) %>            
		                <%= current_user.name %>
		              <% else %>		             
		                <%= image_tag current_user.gravatar_url %>
		                <%= current_user.name %>           
		              <% end %>
		            </li>
					<!-- Dropdown-->
					<li class="panel panel-default" id="dropdown">
						<a data-toggle="collapse" href="#dropdown-lvl1">
							<span class="glyphicon glyphicon-dashboard"></span> Info <span class="caret"></span>
						</a>

						<!-- Dropdown level 1 -->
						<div id="dropdown-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li><a href="">Last signin date: <%= current_user.last_sign_in_at.to_date %></a></li>
									<li><a href="">Last signin time: <%= current_user.last_sign_in_at.to_time.strftime("%H:%M:%S") %></a></li>
									<li><a href="">Total signin count: <%= current_user.sign_in_count %></a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

	</div>
</div>  		</div>
  		<div class="col-md-10 content">
  			  <div class="panel panel-default">
	<div class="panel-heading">
		Dashboard
	</div>
	<div class="panel-body">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
</div>
  		</div>
  	</div>